<div class="container">
  <div class="row">
    <div class="col-12" style="background-image: url(../../../assets/image/wood.png);">
      <h2 class="section-headline"><span>Home</span></h2>
      <img src="../../../assets/image/logo.png" class="rounded float-left" style="padding: 0%; z-index:1;" />
    </div>
  </div>

  <div class="row" style="margin-top: 30px">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <a routerLink="/bookList">
            <img src="../../../assets/image/bestseller.png" class="img-fluid" />
          </a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <a class="pointer" routerLink="/hours">
            <img src="../../../assets/image/hours.png" class="img-fluid" />
          </a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <a routerLink="/faq">
            <img src="../../../assets/image/faq.png" class="img-fluid" />
          </a>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="home-headline" style="margin-top: 20px"><span>Featured Books</span></div>
    <hr style="margin-top: -15px;" />
  </div>

  <img class="img-fluid" src="../../../assets/image/shelf.png" style="margin-top: 10px; z-index:-1;" />

  <div class="row" style="margin:auto; margin-top:-190px; width:90%;">
    <div class="col-2">
      <img class="img-fluid" style="width: 70%;" src="../../../assets/image/book1.jpg" />
    </div>
    <div class="col-2">
      <img class="img-fluid" style="width: 70%;" src="../../../assets/image/book2.jpg" />
    </div>
    <div class="col-2">
      <img class="img-fluid" style="width: 70%;" src="../../../assets/image/book3.jpg" />
    </div>
    <div class="col-2">
      <img class="img-fluid" style="width: 70%;" src="../../../assets/image/book4.jpg" />
    </div>
    <div class="col-2">
      <img class="img-fluid" style="width: 70%;" src="../../../assets/image/book5.jpg" />
    </div>
    <div class="col-2">
      <img class="img-fluid" style="width: 70%;" src="../../../assets/image/book6.png" />
    </div>
  </div>

</div>
