<div class="container">
  <div class="row">
    <div class="col-8">
      <h2 class="section-headline"><span>Home</span></h2>
    </div>
    <div class="col-4">
      <img src="../../../assets/image/logo.png" class="img-fluid right" style="margin-top: 20px; width:400px; z-index:1;" />
    </div>
    <img src="../../../assets/image/wood.png" class="img-fluid right" style="position: absolute; margin-top: 90px; z-index: -2;" />
  </div>


  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <a routerLink="/bookList">
            <img src="../../../assets/image/bestseller.png" class="img-fluid" />
          </a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <a class="pointer" routerLink="/hours">
            <img src="../../../assets/image/hours.png" class="img-fluid" />
          </a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <a routerLink="/faq">
            <img src="../../../assets/image/faq.png" class="img-fluid" />
          </a>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="home-headline" style="margin-top: 20px"><span>Featured Books</span></div>
    <hr style="margin-top: -15px;" />
  </div>

  <img class="img-fluid" src="../../../assets/image/shelf.png" style="margin-top: 10px; z-index:-1;" />

  <div class="row" style="margin:auto; margin-top:-170px; margin-bottom:50px; width:90%;">
    <div class="col-2">
      <img class="img-fluid" style="width: 70%;" src="../../../assets/image/book1.png" />
    </div>
    <div class="col-2">
      <img class="img-fluid" style="width: 70%;" src="../../../assets/image/book1.png" />
    </div>
    <div class="col-2">
      <img class="img-fluid" style="width: 70%;" src="../../../assets/image/book1.png" />
    </div>
    <div class="col-2">
      <img class="img-fluid" style="width: 70%;" src="../../../assets/image/book1.png" />
    </div>
    <div class="col-2">
      <img class="img-fluid" style="width: 70%;" src="../../../assets/image/book1.png" />
    </div>
    <div class="col-2">
      <img class="img-fluid" style="width: 70%;" src="../../../assets/image/book1.png" />
    </div>
  </div>

</div>
