<div class="container">
  <div style="margin-top: 20px;">
    <a routerLink="/bookList"><i class="fa fa-long-arrow-left"></i> Go Back</a>
    <span> / </span>
    <a (click)="onSelect(book)" style="cursor: pointer; color: slateblue">Edit</a>
  </div>
  <mat-grid-list cols="9" rowHeight="100px">
    <mat-grid-tile [colspan]="3" [rowspan]="5">
      <div class="card">
        <div class="card-body">
          <img mat-card-image [src]="'http://localhost:8080/image/book/'+book.id+'.png'" class="img-fluid" />
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="6">
      <h3>{{book.title}}</h3>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="3">
      <mat-list>
        <mat-list-item>
          <p><strong>Author: </strong>{{book.author}}</p>
        </mat-list-item>
        <mat-list-item>
          <p><strong>Publisher: </strong>{{book.publisher}}</p>
        </mat-list-item>
        <mat-list-item>
          <p><strong>Publication Date: </strong>{{book.publicationDate}}</p>
        </mat-list-item>
        <mat-list-item>
          <p><strong>Category: </strong>{{book.category}}</p>
        </mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="3">
      <mat-list>
        <mat-list-item>
          <p><strong>Language: </strong>{{book.language}}</p>
        </mat-list-item>
        <mat-list-item>
          <p><strong>Pages: </strong>{{book.numberOfPages}}</p>
        </mat-list-item>
        <mat-list-item>
          <p><strong>Our Price: </strong>{{book.ourPrice}}</p>
        </mat-list-item>
        <mat-list-item>
          <p><strong>Number in Stock: </strong>{{book.inStockNumber}}</p>
        </mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="6">
      <p><strong>Description: </strong>{{book.description}}</p>
    </mat-grid-tile>
  </mat-grid-list>
</div>
