<div class="container">
<div [hidden]="loggedIn">
  <mat-grid-list cols="6" [style.margin-top]="'20px'">
    <mat-grid-tile [colspan]="1"></mat-grid-tile>
    <mat-grid-tile [colspan]="4">
      <form (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width">
          <input type="text" matInput [(ngModel)]="credential.username" name="username" id='username' placeholder="Your Username">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input type="password" matInput="" [(ngModel)]="credential.password" name="password" id='password' placeholder="Your Password">
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary">Login</button>
      </form>
    </mat-grid-tile>

  </mat-grid-list>
</div>
  <div [hidden]="!loggedIn" style="text-align: center">
    <h2>You have logged in!</h2>
  </div>
</div>
